# Server Port Configuration
PORT=5000
NODE_ENV=development

//For Testing, Mandatory if you are running test otherwise your real Database might be wiped out
NODE_ENV=test

# Database Connection
DATABASE_URI=your_postgresql_connection_string_here

# Test Database Connection
TEST_DATABASE_URI=your_postgresql_connection_string_for_testing

# Client CORS Allowed Origin
FRONTEND_URL=http://localhost:5173

# Cryptographic Token Secrets (Must be long, random strings in production)
JWT_ACCESS_SECRET=your_jwt_access_secret_sample_key_change_me
JWT_REFRESH_SECRET=your_jwt_refresh_secret_sample_key_change_me